@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Define global colors. To use: 'var(--blue)' */
:root {
  --blue: #003A70;
  --dkgrey: #545859;
  --ltgrey: #888B8D;
  --purple: #981E97;
  --pink: #E31C79;
  --orange: #F68D2E;
  --gold: #F1BE48;
  
}


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: var(--purple);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 26px;
  color: var(--purple);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: var(--purple);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--dkgrey);
}

html, body {
  height: 100%;
}

.navbar-nav {
  overflow: hidden;
  height: 70px;
  align-items: flex-end;
}

/* Increase the navbar logo size */
.navbar-brand img {
    max-height: 50px; /* Increase the max width as needed */
    width: auto;     /* Maintain aspect ratio */
    vertical-align: middle;
}

/* Change the text color of the navbar tabs */
.navbar-nav .nav-link {
    color: var(--ltgrey);
}

/* Optional: Change the text color of the active tab */
.navbar-nav .nav-link.active {
  font-weight: 500;
  color: var(--dkgrey);
}

/* Change color of all links */
a {
    color: var(--orange);
}

/* Change color of links when hovered over */
a:hover {
    color: var(--gold);
}

/* Change color of links when clicked (visited) */
a:visited {
    color: var(--gold);
}