/*-- scss:defaults --*/

$theme: "csafe" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-800: #888B8D !default;
$black:    #545859 !default;

$blue:    #003A70 !default;
$purple:  #981E97 !default;
$pink:    #DA1984 !default;
$red:     #A6192E !default;
$orange:  #F68D2E !default;
$yellow:  #E3E935 !default;
$green:   #00843D !default;
$cyan:    #6BA4B8 !default;

$primary:       $white !default;
$secondary:     $gray-800 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.6 !default;

// Links
//
// Style anchor elements.

$link-color:                              $orange !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   50% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

// Options

$enable-rounded: false !default;

// Body

$body-color:    $gray-800 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case

$font-family-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;


// Navbar

$navbar-dark-hover-color:       rgba($white, 1) !default;
$navbar-light-hover-color:      rgba($black, .9) !default;

// Alerts

$alert-border-width:            0 !default;

// Progress bars

$progress-height:               .5rem !default;

/*-- scss:rules --*/


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

body {
  -webkit-font-smoothing: antialiased;
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

// Progress bars

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

h1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-base * 2.5;
  color: $purple;
}

h2 {
  font-weight: $font-weight-light;
  font-size: $font-size-base * 2;
  color: $purple;
}

h3 {
  font-weight: $font-weight-medium;
  font-size: $font-size-base * 1.25;
  color: $purple;
}
